
*.java
UserManagement/.mvn/wrapper/maven-wrapper.jar
UserManagement/mvnw
UserManagement/mvnw.cmd
*.bak
UserManagement/src/main/resources/application.properties
*.properties
*.properties
UserManagement/src/main/resources/application.properties
UserManagement/src/main/resources/application.properties
*.properties
UserManagement/create.sql
UserManagement/usermanagement.iml
